{% load i18n %}
{% load crispy_forms_tags %}
<form action="" method="get">
    <div class="filter-fields">
        {{ filterset.form|crispy }}
    </div>
    <div class="form-group filter-buttons">
        <button type="submit" class="btn btn-sm btn-primary shadow-sm waves-effect waves-light"><i
                class="mdi mdi-magnify"></i> {% trans 'Filtrar' %}</button>
        <a href="{% url request.resolver_match.url_name %}" class="btn btn-sm btn-secondary shadow-sm waves-effect waves-lighty"><i
                class="mdi mdi-close"></i> {% trans 'Limpar' %}</a>
    </div>
    <div class="form-group">
        {% if is_filtered %}
            {{ filtered_count }} de {{ total_count }}
            {% if total_count > 1 %}{{ verbose_name_plural }}{% else %}{{ verbose_name }}{% endif %}
        {% endif %}
    </div>
</form>