# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
media

static
!*/static

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Mr Developer
settings_dev.py
.project
.pydevproject
.idea

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Environment flag
__dev__.py
__staging__.py
__production__.py
settings_dev.py
