
.filter-buttons {
    background: #FFF;
    position: fixed;
    height: var(--list-header-height);
    top: 0;
    width: 100%;
    padding: 0.7rem 1rem;
    margin-left: 2px;
}

.filter-fields {
    padding: 1.25rem;
}