/* Fixed page title */

.page-title-fixed {
    position: fixed !important;
    transition: .3s ease-in-out;
    //padding-top: 12px;
    z-index: 10;
    height: var(--list-header-height);
    width: 100%;
    background-color: var(--tab-header-active-color);
}

.page-title-box {

    left: 0;
    margin-left: 0 !important;
    border-bottom: 1px solid #dee2e6;

    .title {
        padding-top: 0.5rem;
    }
    .subtitle {
        font-size: 1rem;
    }
    .breadcrumb {
        background-color: transparent;
        padding: 0 48px 0 0
    }

    //.btn {
    //    padding: 0.6rem 1.4rem;
    //    font-size: 0.9rem;
    //    margin: 0.2rem;
    //
    //    i {
    //        padding-right: 0.3rem;
    //        font-size: 0.9rem;
    //    }
    //}

    .right-buttons {
        margin-right: 60px;
    }

}

.header-icon {
    background-color: #2B80D5 !important;
    padding: 0.8rem;
    margin-top: 0.8rem;
    border-radius: 6px;
    color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(43,128,213,0.36), 0 2px 10px 0 rgba(43,128,213,0.16);
    font-size: 1.8rem;
}

.header-box {
    margin-top: 0.4rem !important;
    padding-left: 1rem;
}