// ------------------------------
// Default Page Topbar properties
// ------------------------------

#page-topbar {

    height: var(--top-navbar-height);
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1002;
    max-height: 100px;
    background-color: var(--top-header-background-color);

    .navbar-header {

        height: var(--top-navbar-height);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 0 var(--sidebar-open-size);
        //background-color: var(--top-navbar-bg-color);
        box-shadow: none;
        padding: 0;
        transition: margin-left .3s ease-in-out;
        border: none;
        min-height: var(--top-navbar-height);
        border-radius: 0;

        .dropdown.show .header-item {
            background-color: rgba(255, 255, 255, .15)
        }

        #side-menu-toggle {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }

        .header-profile-user {
            height: 36px;
            width: 36px;
            background-color: rgba(0, 0, 0, .1);
            padding: 3px
        }
    }
}

// -- Open Sidebar

#page-topbar {
    .navbar-header {
        margin-left: var(--sidebar-open-size);
    }
}

// -- Closed Sidebar

.sidebar-collapse #page-topbar {
    .navbar-header {
        margin-left: var(--sidebar-collapse-size);
    }
}











.link-btn,
.header-item {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: var(--top-navbar-text-color);
    border: 0;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.link-btn:hover,
.header-item:hover {
    color: var(--top-navbar-text-hover)
}





.noti-icon i,
.swal2-modal .swal2-title {
    font-size: 24px
}

.noti-icon .badge {
    position: absolute;
    top: 12px
}

.notification-item .media {
    padding: .75rem 1rem
}

//@media (max-width:992px) {
//    .vertical-menu.mobile-menu {
//        display: none
//    }
//    .navbar-brand-box {
//        padding-left: 0
//    }
//    .logo {
//        padding-right: 15px
//    }
//    .logo i {
//        display: inline-block
//    }
//}




//#page-topbar .navbar-custom-menu,
//#page-topbar .navbar-right {
//    float: right
//}

//#page-topbar .sidebar-toggle {
//    float: left;
//    background-color: transparent;
//    background-image: none;
//    /*font-family: fontAwesome*/
//}
//
//#page-topbar .sidebar-toggle:before {
//    content: "\f0c9"
//}

//#page-topbar .navbar .nav>li.user>a>.fa,
//#page-topbar .navbar .nav>li.user>a>.glyphicon,
//#page-topbar .navbar .nav>li.user>a>.ion {
//    margin-right: 5px
//}
//
//#page-topbar .navbar .nav>li>a>.label {
//    position: absolute;
//    top: 9px;
//    right: 7px;
//    text-align: center;
//    font-size: 9px;
//    padding: 2px 3px;
//    line-height: .9
//}

//@media (max-width:992px) {
//    #page-topbar .navbar-custom-menu a,
//    #page-topbar .navbar-right a {
//        color: inherit;
//        background: 0 0
//    }
//    .navbar-custom-menu .navbar-nav>li {
//        float: left
//    }
//    .navbar-custom-menu .navbar-nav {
//        margin: 0;
//        float: left
//    }
//    .navbar-custom-menu .navbar-nav>li>a {
//        padding-top: 15px;
//        padding-bottom: 15px;
//        line-height: 20px
//    }
//    .navbar-collapse.pull-left {
//        float: none !important
//    }
//    .navbar-collapse.pull-left+.navbar-custom-menu {
//        display: block;
//        position: absolute;
//        top: 0;
//        right: 40px
//    }
//}
//
//
//@media (max-width:768px) {
//
//    #page-topbar .navbar-right {
//        float: none
//    }
//    .navbar-collapse #page-topbar .navbar-right {
//        margin: 7.5px -15px
//    }
//    #page-topbar .navbar-right>li {
//        color: inherit;
//        border: 0
//    }
//    #page-topbar {
//        position: relative
//    }
//    #page-topbar .logo,
//    #page-topbar .navbar {
//        width: 100%;
//        float: none
//    }
//    #page-topbar .navbar {
//        margin: 0
//    }
//    #page-topbar .navbar-custom-menu {
//        float: right
//    }
//
//}

//@media (min-width:768px) {
//
//    .sidebar-collapse #page-topbar .logo>.logo-mini {
//        display: block;
//        margin-left: -15px;
//        margin-right: -15px;
//        font-size: 18px
//    }
//    .sidebar-collapse #page-topbar .logo>.logo-lg {
//        display: none
//    }
//
//}
