{% extends 'djaesy/login/login-base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    {% trans 'Entrar' as login_link_txt %}
    {%  trans 'Informe seu Email cadastrado' as form_title %}

    <div class="row mb-2">
        <div class="col-12 text-center">
            <h4>{{ form_title }}</h4>
        </div>
    </div>
    {% crispy form %}
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p class="text-muted">
                <a href="{% url 'login' %}" class="text-muted">{{ login_link_txt }}</a>
            </p>
        </div>
    </div>

{% endblock %}