{% extends 'djaesy/login/login-base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    {% trans 'Entrar' as login_link_txt %}
    {% trans 'Senha alterada!' as title %}

    <div class="row mb-2">
        <div class="col-12 text-center">
            <h4 class="mb-2">{{ title }}</h4>
            <p>
                {% blocktrans %}Sua senha foi definida. Você pode prosseguir e se autenticar agora. Clique em Entrar!{% endblocktrans %}
            </p>
            <a href="{% url 'login' %}" class="btn btn-success">{{ login_link_txt }}</a>
        </div>
    </div>

{% endblock %}