{% extends 'djaesy/login/login-base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    {% trans 'Entrar' as login_link_txt %}
    {% trans 'Verifique seu Email' as title %}
    {% trans 'Tentar Novamente' as try_again %}

    <div class="row mb-2">
        <div class="col-12 text-center">
            <h4 class="mb-2">{{ title }}</h4>
            <p>{% blocktrans %}Se o endereço enviado for válido, você receberá um email com um link para redefinir sua senha. Caso não tenha recebido o email, verifique sua caixa de span ou se inseriu seu endereço de email corretamente.{% endblocktrans %}</p>
            <a href="{% url 'login' %}" class="btn btn-outline-success">{{ login_link_txt }}</a>
            <a href="{% url 'login_reset_password' %}" class="btn btn-outline-secondary">{{ try_again }}</a>
        </div>
    </div>

{% endblock %}