{% extends 'djaesy/base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'geoman-field/leaflet-geoman.css' %}" />
{% endblock %}

{% block main_content_start %}
    <form action="" method="post" enctype="multipart/form-data">
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        {% include 'djaesy/includes/render_form.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}

    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

    {{ form.media }}

    <script src="{% static 'geoman-field/leaflet-geoman.min.js' %}"></script>
    <script src="{% static 'geoman-field/geoman-field.min.js' %}"></script>

{% endblock %}

{% block footer %}
    <div class="float-left">
        {% if back_url_name %}
            <a href="{% url back_url_name %}" class="btn btn-mdi btn-secondary">
                <i class="mdi mdi-arrow-left"></i>
                {% trans 'Voltar' %}
            </a>
        {% endif %}
    </div>
    <div class="float-right">
        <button type="submit" name="new_action" value="1" id="new_action" class="btn btn-mdi btn-outline-secondary">
            <i class="mdi mdi mdi-plus-circle-outline"></i>
            {% trans 'Salvar e criar outro' %}
        </button>
        <button type="submit" name="list_action" value="1" id="list_action" class="btn btn-mdi btn-primary">
            <i class="mdi mdi-upload"></i>
            {% trans 'Salvar' %}
        </button>
    </div>
{% endblock %}

{% block main_content_end %}
    </form>
{% endblock %}
